@font-face {
  font-family: "DIN Next LT Arabic";
  src:
    url("/assets/fonts/DINNextLTArabic-Regular.woff2") format("woff2"),
    url("/assets/fonts/DINNextLTArabic-Regular.woff") format("woff"),
    url("/assets/fonts/DINNextLTArabic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("/assets/fonts/DINNextLTArabic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Arabic";
  src: url("/assets/fonts/DINNextLTArabic-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

:root {
  --bs-font-sans-serif: "DIN Next LT Arabic", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif !important;
}
